<div class="unicorn-mansion-container">
    <div class="unicorn-mansion-title">
        <div class="unicorn-mansion-title-icon">
            <img src="assets/images/Unicorn.png" alt="">
        </div>
        <div class="unicorn-mansion-title-text">{{"sections.unicorn-mansion.title" | translate }}</div>
        <div class="unicorn-mansion-title-button">
            <p-button class="button-black" (click)="navigateToLink()">
                <ng-template pTemplate="label">
                    {{"sections.unicorn-mansion.button" | translate }}
                </ng-template>
            </p-button>
        </div>
    </div>

    <div class="unicorn-mansion-content">
        <div class="unicorn-mansion-content-column col_1">
            <div class="unicorn-mansion-content-column-top">
                <div class="unicorn-mansion-content-column-top-title">{{"sections.unicorn-mansion.content._1.title" |
                    translate }}</div>
                <div class="unicorn-mansion-content-column-top-text">{{"sections.unicorn-mansion.content._1.text" |
                    translate }}</div>
            </div>
            <div class="unicorn-mansion-content-column-top">
                <div class="unicorn-mansion-content-column-bottom-title">{{"sections.unicorn-mansion.content._2.title" |
                    translate }}</div>
                <div class="unicorn-mansion-content-column-bottom-text">{{"sections.unicorn-mansion.content._2.text" |
                    translate }}</div>
            </div>
            <div class="unicorn-mansion-content-column-bottom">
                <div class="unicorn-mansion-content-column-top-title">{{"sections.unicorn-mansion.content._7.title" |
                    translate }}</div>
                <div class="unicorn-mansion-content-column-top-text">{{"sections.unicorn-mansion.content._7.text" |
                    translate }}
                </div>
            </div>
        </div>
        <div class="unicorn-mansion-content-column col_2">
            <div class="unicorn-mansion-content-column-top">
                <div class="unicorn-mansion-content-column-top-title">{{"sections.unicorn-mansion.content._3.title" |
                    translate }}</div>
                <div class="unicorn-mansion-content-column-top-text">{{"sections.unicorn-mansion.content._3.text" |
                    translate }}</div>
            </div>
            <div class="unicorn-mansion-content-column-bottom">
                <div class="unicorn-mansion-content-column-bottom-title">{{"sections.unicorn-mansion.content._4.title" |
                    translate }}</div>
                <div class="unicorn-mansion-content-column-bottom-text">{{"sections.unicorn-mansion.content._4.text" |
                    translate }}</div>
            </div>
        </div>
        <div class="unicorn-mansion-content-column col_3">
            <div class="unicorn-mansion-content-column-top">
                <div class="unicorn-mansion-content-column-top-title">{{"sections.unicorn-mansion.content._5.title" |
                    translate }}</div>
                <div class="unicorn-mansion-content-column-top-text">{{"sections.unicorn-mansion.content._5.text" |
                    translate }}
                </div>
            </div>
            <div class="unicorn-mansion-content-column-bottom">
                <div class="unicorn-mansion-content-column-bottom-title">{{"sections.unicorn-mansion.content._6.title" |
                    translate }}</div>
                <div class="unicorn-mansion-content-column-bottom-text">{{"sections.unicorn-mansion.content._6.text" |
                    translate }}</div>
            </div>
        </div>
        <div class="unicorn-mansion-content-column col_4">
            <div class="unicorn-mansion-content-column-top">
                <div class="unicorn-mansion-content-column-top-title">{{"sections.unicorn-mansion.content._8.title" |
                    translate }}</div>
                <div class="unicorn-mansion-content-column-top-text">{{"sections.unicorn-mansion.content._8.text" |
                    translate }}
                </div>
            </div>
            <div class="unicorn-mansion-content-column-bottom">
                <div class="unicorn-mansion-content-column-bottom-title">{{"sections.unicorn-mansion.content._9.title" |
                    translate }} </div>
                <div class="unicorn-mansion-content-column-bottom-text">{{"sections.unicorn-mansion.content._9.text" |
                    translate }}</div>
            </div>
        </div>
    </div>
    <div class="unicorn-mansion-carrousel">
        <app-carrousel-mansion></app-carrousel-mansion>
    </div>
</div>