<div class="subMenu-container">
  <div class="container">
    <div class="subMenu">
      <div class="subMenu-phases">
        <span class="subMenu-phases-bold"
          >{{ "components.subMenu.phase" | translate }} 1/3</span
        >
        <span class="m-auto subMenu-phases-regular"
          ><span> {{ availableProduct }}</span>
          {{ "components.subMenu.available" | translate }}
          <span>1111</span></span
        >
      </div>
      <div class="subMenu-progressBar">
        <div class="subMenu-progressBar-customBar">
          <app-progress-bar
            [isWhiteBackground]="true"
            [showIcon]="true"
          ></app-progress-bar>
        </div>
      </div>
      <div class="subMenu-getMansion">
        <!-- {{"components.subMenu.buy10.top" | translate }} <br>The Unicorn Mansion Edition 1</div> -->
        <div class="subMenu-buy-button">
          <p-button class="p-button-fit" (click)="navigateToLink()">
            <ng-template pTemplate="label">
              {{ "sections.hero.buyButton" | translate }}
            </ng-template>
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>
