.subMenu-container {
  background: linear-gradient(90deg, #000 19.27%, #ff6565 45.16%, #000 83.19%);
  z-index: 9;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  padding: 24px 0;
  .container {
    .subMenu {
      display: flex;
      align-items: center;
      gap: 32px;
      justify-content: space-between;
      // height: 100%;
      // width: 100%;

      &-phases {
        // margin-left: 107px;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        // letter-spacing: -0.6px;

        &-bold {
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: -0.6px;
        }
      }
      &-progressBar {
        flex-grow: 1;
        &-customBar {
          height: 9px;
          // height: 7px;
          // width: 90vw;
          // width: 350px;
        }
      }

      &-getMansion {
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: -0.36px;
        // width: 190px;
      }
    }
  }
}

// laptop------------------------------------------------------------
@media screen and (min-width: 451px) and (max-width: 1536px) {
  // .subMenu-container {
  //   top: 50px;
  // }
}

// mobile------------------------------------------------------------
@media screen and (max-width: 992px) {
  .subMenu-container {
    width: 100%;
    background: linear-gradient(98deg, #000 37.67%, #ff6565 83.01%);
    padding: 16px 0;
    .subMenu {
      flex-direction: column;

      &-phases {
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
        font-size: 0.9em;
        font-weight: 400;
        letter-spacing: -0.6px;
        width: 100%;

        &-bold {
          font-size: 1.2em;
          width: 50%;
        }
      }
      &-progressBar {
        margin: 0;
        &-customBar {
          height: 7px;
          width: 90vw;
        }
      }

      &-getMansion {
        // display: none;
      }
    }
  }
}
