<div class="panels-container">
  <div class="panel">
    <div class="panel-title gradientText2">
      {{ "sections.panels.1.title" | translate }}
    </div>
    <div class="panel-text">
      {{ "sections.panels.1.text.regular" | translate }}
      <span>{{ "sections.panels.1.text.bold" | translate }}</span>
      {{ "sections.panels.1.text.regular2" | translate }}
      <span>{{ "sections.panels.1.text.bold2" | translate }}</span>
      {{ "sections.panels.1.text.regular3" | translate }}
    </div>
  </div>
  <div class="panel">
    <div class="panel-title gradientText2">
      {{ "sections.panels.2.title" | translate }}
    </div>
    <div class="panel-text">
      {{ "sections.panels.2.text.regular" | translate }}
      <span>{{ "sections.panels.2.text.bold" | translate }}</span>
      {{ "sections.panels.2.text.regular2" | translate }}
      <span>{{ "sections.panels.2.text.bold2" | translate }}</span>
      {{ "sections.panels.2.text.regular3" | translate }}
    </div>
  </div>
  <div class="panel">
    <div class="panel-title gradientText2">
      {{ "sections.panels.3.title" | translate }}
    </div>
    <div class="panel-text">
      {{ "sections.panels.3.text.regular" | translate }}
      <span>{{ "sections.panels.3.text.bold" | translate }}</span>
      {{ "sections.panels.3.text.regular2" | translate }}
      <span>{{ "sections.panels.3.text.bold2" | translate }}</span>
    </div>
  </div>
</div>
<div class="panels-mobile">
  <app-carrousel-why-box></app-carrousel-why-box>
</div>
