<div class="panels-container">
    <div class="panel">
        <div class="panel-title gradientText2">WHY DEBOOK?</div>
        <div class="panel-text">DEBOOK is a platform where everyone benefits. Authors can solve two massive problems:
            low income and non-existent connection with readers. Readers enhance their reading experience, and
            publishers gain a new revenue stream. See the pitchdeck for more details.</div>
    </div>
    <div class="panel">
        <div class="panel-title gradientText2">WHY TODAY?</div>
        <div class="panel-text">Simply because it is a one life-time opportunity to be part of a revolutionary project
            since day one. Imagine being part of the early community that supported Amazon. They started selling ebooks
            early, we start selling debooks early!</div>
    </div>
    <div class="panel">
        <div class="panel-title gradientText2">WHY US?</div>
        <div class="panel-text">Co-founders' stories that intertwine tech and books are truly remarkable, not only due
            to their tenure at tech giants but also for their innovative projects in the book industry, a clear
            indication of their desire to change the status quo for authors, readers and publishers!</div>
    </div>
</div>