<div class="QAmondays-container">
    <div class="QAmondays-title">
        <div class="QAmondays-title-date">
            {{ "sections.qa-mondays.date" | translate }}
        </div>
        <div class="QAmondays-title-text">
            Q&A <span> <img src="assets/images/live.png" alt=""></span> MONDAYS
        </div>
        <div class="QAmondays-title-time">
            12pm Spain
        </div>
    </div>
    <div class="QAmondays-p">
        {{ "sections.qa-mondays.p" | translate }}
    </div>
</div>