@import '../../../styles.scss';
.QAmondays-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #FFE7E7;
    background: #FFFAFA;
    margin: auto;
    padding: 35px 35px;
    margin-bottom: 100px;

    .QAmondays-title{
        display: flex;
        flex-direction: column;
        max-width: 45%;


        &-date{
            color: #000;
            font-family: $font-sora;
            font-size: 20px;
            font-weight: 400;
            line-height: 21px; 
            letter-spacing: -0.6px;
        }
        &-text{
            color: #000;
            font-family: $font-sora;
            font-size: 1.6em;
            font-weight: 700;
            line-height: 21px; 
            letter-spacing: -0.6px;
        }
        &-time{
            color: #000;
            text-align: end;
            font-family: $font-inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px; 
            letter-spacing: -0.42px;
        }
        
    }

    .QAmondays-p{
        color: #9A9A9A;
        font-family: $font-inter;
        font-size: 1em;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: -0.42px;
    }
}

// mobile------------------------------------------------------------
@media screen and (max-width: 850px){
    .QAmondays-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        border-radius: 20px;
        border: 1px solid #FFE7E7;
        background: #FFF;

        .QAmondays-title{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            margin-bottom: 30px;
        }
        
        .QAmondays-p{
            text-align: center;
        }
    }
    
}