<div class="body-bottom-container">
  <div class="">
    <div class="container"><app-funds-go-to-dev></app-funds-go-to-dev></div>

    <app-panels></app-panels>
    <div class="container"><app-challenges-map></app-challenges-map></div>
    <app-team></app-team>
    <app-building-debook-in-public></app-building-debook-in-public>
    <!--  -->
  </div>
  <div class="container"><app-sales-process></app-sales-process></div>

  <app-unicorn-mansion></app-unicorn-mansion>
  <app-faqs></app-faqs>
  <div class="bg-white">
    <div class="container"><app-footer></app-footer></div>
  </div>
</div>
