<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="20" slides-per-view="3"
    style="--swiper-pagination-color: #FF4444;">
    <swiper-slide>
        <div>1</div>
    </swiper-slide>
    <swiper-slide>
        <div>1</div>
    </swiper-slide>
    <swiper-slide>
        <div>2</div>
    </swiper-slide>
    <swiper-slide>
        <div>3</div>
    </swiper-slide>
    <swiper-slide>
        <div>4</div>
    </swiper-slide>
    <swiper-slide>
        <div>5</div>
    </swiper-slide>
    <swiper-slide>
        <div>6</div>
    </swiper-slide>
    <swiper-slide>
        <div>7</div>
    </swiper-slide>
    <swiper-slide>
        <div>8</div>
    </swiper-slide>
    <swiper-slide>
        <div>9</div>
    </swiper-slide>
</swiper-container>