<div class="oneBookOneCommunity-container">
    <div class="oneBookOneCommunity-column">
        <div class="oneBookOneCommunity-column-title gradientText2">ONE BOOK ONE COMMUNITY</div>
        <div class="oneBookOneCommunity-column-subtitle">Discover our WHAT, HOW and WHY and the 6 Valuations Phases
        </div>
        <p-button class="button-black" label="Go to Pitchdeck"></p-button>
    </div>
    <div class="oneBookOneCommunity-row">


        <div class="oneBookOneCommunity-row-content">
            <div class="oneBookOneCommunity-row-content-title">
                The privileges of
                DEBOOK MAGICKEYS
            </div>
            <div class="oneBookOneCommunity-row-content-subtitle">
                As DEBOOK grows, your MAGICKEY benefits grow with it.
                We are committed to rewarding our loyal supporters from day one!
            </div>


            <div class="carrousel-privileges">
                <app-carrousel-privileges></app-carrousel-privileges>
            </div>


            <div class="oneBookOneCommunity-row-content-privileges">
                <div class="oneBookOneCommunity-row-content-privileges-row">
                    <div class="oneBookOneCommunity-row-content-privileges-row-image">
                        <img src="assets/images/book1.png" alt="">
                    </div>
                    <div class="oneBookOneCommunity-row-content-privileges-row-text">
                        <div class="oneBookOneCommunity-row-content-privileges-row-text-title">
                            Access to every debook
                        </div>
                        <div class="oneBookOneCommunity-row-content-privileges-row-text-p">
                            Imagine when 1,000 and 1,000,000 authors publish their book, you'll get access to read
                            +1,000,000 debooks!
                        </div>
                    </div>
                </div>

                <div class="oneBookOneCommunity-row-content-privileges-row">
                    <div class="oneBookOneCommunity-row-content-privileges-row-image">
                        <img src="assets/images/book2.png" alt="">
                    </div>
                    <div class="oneBookOneCommunity-row-content-privileges-row-text">
                        <div class="oneBookOneCommunity-row-content-privileges-row-text-title">
                            Access to the most supportive community
                        </div>
                        <div class="oneBookOneCommunity-row-content-privileges-row-text-p">
                            Imagine being part of a changemakers group of people supporting each other, and sharing your
                            insights through videocalls and Q&A with DEBOOK team!
                        </div>
                    </div>
                </div>

                <div class="oneBookOneCommunity-row-content-privileges-row">
                    <div class="oneBookOneCommunity-row-content-privileges-row-image">
                        <img src="assets/images/book3.png" alt="">
                    </div>
                    <div class="oneBookOneCommunity-row-content-privileges-row-text">
                        <div class="oneBookOneCommunity-row-content-privileges-row-text-title">
                            Access to debooks presales,
                            app updates and the best surprises
                        </div>
                        <div class="oneBookOneCommunity-row-content-privileges-row-text-p">
                            Exclusive early access to the biggest debook authors. Embark on a journey of unique
                            surprises, shaping DEBOOK as the future of reading and publishing forever!
                        </div>
                    </div>
                </div>

            </div>
        </div>




        <div class="oneBookOneCommunity-row-image">
            <!-- <img src="assets/images/debookKeyLanding.jpg" alt=""> -->
            <video autoplay loop>
                <source src="assets/images/FINAL.mp4" type="video/mp4">
                <img src="assets/images/debookKeyLanding.jpg" alt="">
                Your browser does not support the video element.
            </video>
            <div class="oneBookOneCommunity-row-image-text gradientText3">As a digital asset you can resell your
                MAGICKEY for the
                price you choose!</div>
        </div>
    </div>
</div>