@import "../../../styles.scss";

.flex-blockMobile {
  display: flex;
}
.hide {
  display: none;
}
.display {
  display: flex;
  justify-content: center;
}
.oneBookOneCommunity-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  .oneBookOneCommunity-titleRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    justify-content: space-between;
    gap: 32px;
    .oneBookOneCommunity-column {
      margin-top: 100px;
      // width: 695px;
      // margin-left: 165px;
      &-title-mobile {
        display: none;
      }
      &-title {
        font-size: 70px;
        font-family: $font-sora;
        font-weight: 700;
        letter-spacing: -0.05em;
        // margin-top: 75px;
        text-align: start;
      }
      &-subtitle {
        margin-bottom: 50px;
        font-family: $font-inter;
        font-weight: 700;
        font-size: 16px;
        margin-top: 8px;
        letter-spacing: -0.03em;
        text-align: start;
      }
      p-button {
        display: flex;
      }
    }
    .oneBookOneCommunity-table {
      // margin-top: 175px;
      img {
        width: 415px;
        height: auto;
        border-radius: 40px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    }
  }

  .oneBookOneCommunity-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 150px 0;
    // width: 1440px;
    // margin: 150px 0 250px 0;
    gap: 48px;
    &-content {
      // width: 495px;
      // height: 615px;
      // margin-left: 165px;
      // max-width: 495px;
      // max-width: 650px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-title {
        font-family: $font-sora;
        font-size: 48px;
        font-weight: 600;
        letter-spacing: -0.05em;
        text-align: start;
        line-height: 60px;
      }
      &-subtitle {
        text-align: start;
        font-size: $font-inter;
        font-weight: 500;
        font-size: 16px;
        margin-top: 8px;
      }
      .carrousel-privileges {
        display: none;
      }

      .preveleges-accordion {
        display: block;
        margin-top: 50px;
        &-title {
          color: $black;
          font-family: $font-sora;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: -1px;
          font-family: $font-sora;
          text-align: start;
          margin: 0 15px;
        }
        &-text {
          color: #6f6f6f;
          font-family: $font-inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: -0.42px;
          text-align: start;
        }
      }

      &-privileges {
        display: flex;
        flex-direction: column;

        &-row {
          display: flex;
          flex-direction: row;
          align-items: start;
          margin-top: 45px;

          &-image {
            img {
              width: 50px;
              height: 50px;
            }
          }
          &-text {
            text-align: start;
            padding-left: 15px;
            font-size: 16px;
            margin-top: 8px;
            &-title {
              font-size: 20px;
              // letter-spacing: -0.05em;
              color: $black;
              margin-bottom: 10px;
              font-family: $font-sora;
            }
            &-p {
              font-size: 16px;
              margin-top: 8px;
              // letter-spacing: -0.05em;
              color: $gray;
              font-family: $font-inter;
              font-weight: 400;
              line-height: 22px;
            }
          }
        }
      }
    }

    &-image {
      flex-grow: 1;
      width: 1102px;
      // width: 508px;
      // height: 614px;
      // margin-right: 165px;

      img {
        // max-width: 508px;
        width: 100%;
        height: 790px;
        border-radius: 25px;
        border: 1px solid rgb(200, 196, 196);
        object-fit: cover;
      }
      // video{
      //     width: 508px;
      //     height: 616px;
      //     border-radius: 24px;
      //     object-fit: cover;
      //     border: 1px solid rgb(200, 196, 196);
      // }
      &-text {
        font-size: 16px;
        margin-top: 8px;
        letter-spacing: -0.05em;
      }
    }
  }
}

// mobile------------------------------------------------------------
@media screen and (max-width: 992px) {
  .flex-blockMobile {
    display: block;
    margin-bottom: 30px;
  }

  .hide {
    display: block;
  }
  .display {
    display: none;
  }

  .oneBookOneCommunity-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    .oneBookOneCommunity-titleRow {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      .oneBookOneCommunity-column {
        margin-top: 50px;
        width: 100%;
        margin-left: 0;
        &-title-mobile {
          display: flex;
          font-size: 2.1em;
          margin-top: 30px;
          font-family: $font-sora;
          font-weight: 700;
          letter-spacing: -0.05em;
          line-height: 42px;
          text-align: center;
        }

        &-title {
          display: none;
        }
        &-subtitle {
          font-size: 1em;
          margin-bottom: 10px;
          font-weight: 700;
          padding: 0;
          width: 275px;
          margin: 0 auto;
          margin-top: 30px;
          margin-bottom: 30px;
          line-height: $lineH-P-Mobile;
          text-align: center;
          width: 100%;
        }
        p-button {
          display: block;
          margin-bottom: 30px;
        }
      }

      .oneBookOneCommunity-table {
        margin-top: 0px;
        width: 100%;
        img {
          width: 100%;
          // margin-top: 80px;
          margin-bottom: 60px;
        }
      }
    }
    .oneBookOneCommunity-row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin: 50px 0;
      // margin-left: 5%;
      &-content {
        width: 100%;
        height: auto;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-title {
          font-size: 2.4em;
          font-weight: 700;

          // width: 300px;
          padding: 0;
          line-height: 45px;
          margin: 0px 0 25px 0;
          // margin-left: 5%;
        }
        &-subtitle {
          // width: 90%;
          // margin: auto;
          text-align: start;
          font-weight: 500;
          font-size: 1em;
          padding: 0;
          line-height: $lineH-P-Mobile;
          margin-bottom: 80px;
        }

        .carrousel-privileges {
          padding: 0 8px;
          display: block;
          width: 100%;
          margin-bottom: 50px;
        }
        .preveleges-accordion {
          display: none;
        }
        &-privileges {
          display: none;
        }
      }

      &-image {
        width: 100%;
        height: 100%;
        margin-right: 0px;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 50px;

        img {
          border-radius: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
        // video{
        //     width: 291px;
        //     height: 300px;
        //     border-radius: 24px;
        //     object-fit: cover;
        //     border: 1px solid rgb(200, 196, 196);
        // }
        &-text {
          font-size: 1em;
          line-height: $lineH-P-Mobile;
          width: 325px;
          margin: auto;
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .hide-image {
    display: none;
  }

  .oneBookOneCommunity-container {
    .oneBookOneCommunity-titleRow {
      .oneBookOneCommunity-column {
        width: 90%;
        &-subtitle {
          margin-bottom: 10px;
        }
      }
      .oneBookOneCommunity-table {
        margin-top: 0px;
        width: 100%;
        img {
          width: 100%;
          // margin-top: 80px;
          margin-bottom: 20px;
        }
      }
    }
    .oneBookOneCommunity-row {
      &-content {
        &-title {
        }
        &-subtitle {
          max-width: 350px;
        }
      }

      &-image {
        width: 100%;
        height: 100%;
        margin-right: 0px;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 50px;

        img {
          border-radius: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
        // video{
        //     width: 291px;
        //     height: 300px;
        //     border-radius: 24px;
        //     object-fit: cover;
        //     border: 1px solid rgb(200, 196, 196);
        // }
        &-text {
          font-size: 1em;
          line-height: $lineH-P-Mobile;
          width: 325px;
          margin: auto;
          margin-top: 10px;
        }
      }
    }
  }
}
