@import '../../../styles.scss';

.oneBookOneCommunity-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .oneBookOneCommunity-column{
        margin-top: 100px;
  

        &-title{
            font-size: 70px;
            font-family: $font-sora;
            font-weight: 700;
            letter-spacing: -0.05em;
            margin-top: 75px;
        }
        &-subtitle{
            margin-bottom: 50px;
            font-family: $font-inter;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: -0.03em;
        }
    }

    .oneBookOneCommunity-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1440px;
        margin: 150px 0;

        &-content{
            width: 495px;
            height: 615px;
            margin-left: 165px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-title{
                font-family: $font-sora;
                font-size: 48px;
                font-weight: 600;
                letter-spacing: -0.05em;
                text-align: start;
                line-height: 60px;
            }
            &-subtitle{
                text-align: start;
                font-size: $font-inter;
                font-weight: 500;
                font-size: 14px;
            }
            .carrousel-privileges{
                display: none;
            }

            &-privileges{
                display: flex;
                flex-direction: column;

                &-row{
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    margin-top: 45px;

                    &-image{
                        img{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    &-text{
                        text-align: start;
                        padding-left: 15px;
                        &-title{
                            font-size: 20px;
                            // letter-spacing: -0.05em;
                            color: $black;
                            margin-bottom: 10px;
                            font-family: $font-sora;
                        }
                        &-p{
                            font-size: 14px;
                            // letter-spacing: -0.05em;
                            color: $gray;
                            font-family: $font-inter;
                            font-weight: 400;
                            line-height: 22px;
                        }
                    }
                }
            }
        }




        &-image{
            width: 510px;
            height: 615px;
            margin-right: 165px;

            img{
                border-radius: 25px;
                border: 1px solid rgb(200, 196, 196);
            }
            &-text{
                font-size: 14px;
                letter-spacing: -0.05em;
            }
        }
    }

}


// mobile------------------------------------------------------------
@media  screen and (max-width: 450px){
    
    .oneBookOneCommunity-container{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    
        .oneBookOneCommunity-column{
            margin-top: 50px;
      
    
            &-title{
                font-size: 30px;
                margin-top: 25px;
            }
            &-subtitle{
                font-size: 14px;
                margin-bottom: 10px;
                font-weight: 700;
                padding: 10px 25px;
            }
        }
    
        .oneBookOneCommunity-row{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 320px;
            margin: 50px 0;
    
            &-content{
                width: 100%;
                height: auto;
                margin-left: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                &-title{
                    font-size: 30px;
                    font-weight: 700;
                    width: 80%;
                    padding: 25px 0 25px 15px;
                    line-height: 37px;
                }
                &-subtitle{
                    text-align: start;
                    font-weight: 500;
                    font-size: 14px;
                    padding: 0 15px;
                    line-height: 20px;
                    margin-bottom: 30px;
                }

                .carrousel-privileges{
                    display: flex;
                }
    
                &-privileges{
                    /*
                    display: flex;
                    flex-direction: column;
    
                    &-row{
                        display: flex;
                        flex-direction: row;
                        align-items: start;
                        margin-top: 45px;
    
                        &-image{
                            img{
                                width: 60px;
                                height: 60px;
                            }
                        }
                        &-text{
                            text-align: start;
                            padding-left: 15px;
                            &-title{
                                font-size: 20px;
                                letter-spacing: -0.05em;
                                color: $black;
                                margin-bottom: 10px;
                            }
                            &-p{
                                font-size: 14px;
                                letter-spacing: -0.05em;
                                color: $gray;
                            }
                        }
                    }*/
                    display: none;
                }
            }
    
    
    
    
            &-image{
                width: 291px;
                height: 300px;
                margin-right: 0px;
                margin: 0 auto;
                margin-bottom: 30px;
    
                img{
                    width: 291px;
                    height: 300px;
                }
                &-text{
                }
            }
        }
    
    }
    
}