@import '../../../styles.scss';

.hero-container{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #FFF1F1;
    display: flex;
    flex-direction: row;


    position: absolute;
    top: 87px;
    left: calc(50% - 720px);
    width: 1440px;
    // height: 965px;
    overflow: hidden;

    .hero-content{
        margin-left: 165px;
        width: 625px;
        h1{
            font-family: $font-sora;
            color: $red;
            font-size: 48px;
            font-weight: 700;
            margin-top: 130px;
            letter-spacing: -0.05em;
        }
        h2{
            font-family: $font-sora;
            color: $black;
            font-size: 36px;
            font-weight: 600;
            letter-spacing: -0.05em;
            margin-top: -40px;
        }
        .subtitle{
            color: $gray;
            font-size: 18px;
            width: 75%;
            line-height: 28px;
            margin-bottom: 50px;
        }

        .loadingText{
            color: $black;
            margin-bottom: 5px;
            margin-top: 45px;
        }
        .loadingBar{
            width: 445px;
            height: 26px;
            border-radius: 33px;
            border: 1px solid $black;
            background-color: white;

            &-charge{
                width: 91px;
                height: 20px;
                border-radius: 33px;
                background: $custom-background;
                background: $custom-gradient;
                margin: 2px 0 0 2px;
            }
        }
    }

    .cardContainer{
        position: relative;
        left: 800px;
        top:-50px;

        .hero-cards{
            position: absolute;
            top: 20px;
            right: 0px;  
            transform: rotate(350deg);
            width: 645px;
        
        }
        
        .hero-cards2{
            position: absolute;
            top: 791px;
            right: 573px;
            width: 433px;
            transform: rotate(350deg);

        }

        .hero-cards1{
            position: absolute;
            top: 455px;
            right: 635px;
            width: 433px;
            transform: rotate(350deg);

        }
    }

}

