<div class="hero-container">
    <div class="hero-content">
        <h1>3333 DEBOOK MAGICKEYS</h1>
        <h2>to unlock the next book thing</h2>
        <p class="subtitle">Be part of a passionate community with unlimited
            benefits by supporting the early stage of DEBOOK!</p>
        <p-button class="p-button-long" label="BUY MAGICKEYS"></p-button>
        <p class="loadingText">2400 out of 3333 available</p>
        <div class="loadingBar">
            <div class="loadingBar-charge"></div>
        </div>
    </div>

    <div class="cardContainer">
        <div class="hero-cards">
            <div class=""><app-card [numberOfCards]="9"></app-card></div>
        </div>
        <div class="hero-cards2">
            <div class=""><app-card [numberOfCards]="2"></app-card></div>
        </div>
        <div class="hero-cards1">
            <div class=""><app-card [numberOfCards]="1"></app-card></div>
        </div>

    </div>
</div>