<swiper-container pagination="true" pagination-clickable="true" slides-per-view="1" space-between="20"
    style="--swiper-pagination-color: #FF4444;">
    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.unicorn-mansion.content._1.title" |
                translate }}
            </div>
            <div class="text">
                {{"sections.unicorn-mansion.content._1.text" |
                translate }}
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.unicorn-mansion.content._3.title" |
                translate }}
            </div>
            <div class="text">
                {{"sections.unicorn-mansion.content._3.text" |
                translate }}
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.unicorn-mansion.content._5.title" |
                translate }}
            </div>
            <div class="text">
                {{"sections.unicorn-mansion.content._5.text" |
                translate }}
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.unicorn-mansion.content._9.title" |
                translate }}
            </div>
            <div class="text">
                {{"sections.unicorn-mansion.content._9.text" |
                translate }}
            </div>
        </div>
    </swiper-slide>



    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.unicorn-mansion.content._7.title" |
                translate }}
            </div>
            <div class="text">
                {{"sections.unicorn-mansion.content._7.text" |
                translate }}
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.unicorn-mansion.content._8.title" |
                translate }}
            </div>
            <div class="text">
                {{"sections.unicorn-mansion.content._8.text" |
                translate }}
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.unicorn-mansion.content._4.title" |
                translate }}
            </div>
            <div class="text">
                {{"sections.unicorn-mansion.content._4.text" |
                translate }}
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.unicorn-mansion.content._6.title" |
                translate }}
            </div>
            <div class="text">
                {{"sections.unicorn-mansion.content._6.text" |
                translate }}
            </div>
        </div>
    </swiper-slide>



    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.unicorn-mansion.content._2.title" |
                translate }}
            </div>
            <div class="text">
                {{"sections.unicorn-mansion.content._2.text" |
                translate }}
            </div>
        </div>
    </swiper-slide>



</swiper-container>