<div class="main-app">
  <div class="main-header">
    <div class="top-header">
      <div class="container">
        <app-nav (languageChange)="switchLang($event)"></app-nav>
      </div>
    </div>
    <div class="sub-header"><app-sub-menu></app-sub-menu></div>
  </div>
  <div class="bg-faded-red">
    <div class="container"><app-hero></app-hero></div>
  </div>
  <section style="background-color: #fffbfb"><app-body></app-body></section>
  <div class="bg-faded-red">
    <div class="container">
      <app-founder-message></app-founder-message>
    </div>
  </div>
  <section><app-body-bottom></app-body-bottom></section>

  <router-outlet></router-outlet>
</div>
