<swiper-container pagination="true" pagination-clickable="true"
    style="--swiper-pagination-color: #FF4444;  --swiper-pagination-bullet-width: 35px; --swiper-pagination-bullet-height: 2px;">
    <swiper-slide>
        <div class="image">
            <img src="assets/images/book1.png" alt="">
        </div>
        <div class="title">Access to every debook</div>
        <div class="description">Imagine when 1,000 and 1,000,000 authors publish their book, you'll
            get access to read +1,000,000 debooks!
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="image">
            <img src="assets/images/book2.png" alt="">
        </div>
        <div class="title">Access to the most supportive community</div>
        <div class="description">Imagine being part of a changemakers group of people supporting each other, and sharing
            your insights through videocalls and Q&A with DEBOOK team!
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="image">
            <img src="assets/images/book3.png" alt="">
        </div>
        <div class="title">Access to debooks presales, app updates and the best surprises</div>
        <div class="description">Exclusive early access to the biggest debook authors. Embark on a journey of unique
            surprises, shaping DEBOOK as the future of reading and publishing forever!
        </div>
    </swiper-slide>
</swiper-container>