<swiper-container pagination="true" pagination-clickable="true" slides-per-view="1" space-between="20"
    style="--swiper-pagination-color: #FF4444;">
    <swiper-slide>
        <div class="cards _1">
            <div class="image">
                <img src="assets/images/book1.png" alt="">
            </div>
            <div class="title">{{"sections.one-book-one-community.The-privileges.rows.title1" | translate }}</div>
            <div class="description">{{"sections.one-book-one-community.The-privileges.rows.sub-title1" | translate }}
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="cards _2">
            <div class="image">
                <img src="assets/images/book2.png" alt="">
            </div>
            <div class="title">{{"sections.one-book-one-community.The-privileges.rows.title2" | translate }}</div>
            <div class="description">{{"sections.one-book-one-community.The-privileges.rows.sub-title2" | translate }}
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="cards _3">
            <div class="image">
                <img src="assets/images/book3.png" alt="">
            </div>
            <div class="title">{{"sections.one-book-one-community.The-privileges.rows.title3" | translate }}</div>
            <div class="description">{{"sections.one-book-one-community.The-privileges.rows.sub-title3" | translate }}
            </div>
        </div>
    </swiper-slide>

    <swiper-slide>
        <div class="cards _4">
            <div class="image">
                <img src="assets/images/book1.png" alt="">
            </div>
            <div class="title">{{"sections.one-book-one-community.The-privileges.rows.title4" | translate }}</div>
            <div class="description">{{"sections.one-book-one-community.The-privileges.rows.sub-title4" | translate }}
            </div>
        </div>
    </swiper-slide>

</swiper-container>