@import "../../../../styles.scss";

swiper-container {
  swiper-slide {
    .cards {
      // width: 90%;
      margin: auto;
      min-height: 450px;
      border-radius: 40px;
      border: 1px solid #ffc5c6;
      background: #fff7f7;
      padding: 10px;
      .image {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        img {
          width: 24%;
          height: 24%;
        }
      }
      .title {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
        width: 100%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        line-height: 29px;
      }
      .description {
        display: flex;
        justify-content: center;
        font-size: 1em;
        text-align: center;
        width: 100%;
        margin: auto;
        // margin-bottom: 50px;
        line-height: $lineH-P-Mobile;
      }
    }

    // ._1{
    //     .image{
    //         margin-top: 65px;
    //     }
    // }
  }
}

@media screen and (max-width: 992px) {
  swiper-container {
    swiper-slide {
      .cards {
        // width: 90%;
        margin: auto;
        // min-height: 400px;
        border-radius: 40px;
        border: 1px solid #ffc5c6;
        background: #fff7f7;
        padding: 14px;
        .image {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          img {
            width: 24%;
            height: 24%;
          }
        }
        .title {
          display: flex;
          justify-content: center;
          font-size: 1.5em;
          font-weight: 400;
          text-align: center;
          width: 100%;
          margin: auto;
          margin-top: 25px;
          margin-bottom: 25px;
          line-height: 29px;
        }
        .description {
          display: flex;
          justify-content: center;
          font-size: 1em;
          text-align: center;
          width: 100%;
          margin: auto;
          // margin-bottom: 50px;
          line-height: $lineH-P-Mobile;
        }
        &._3 {
          .title {
            max-width: 265px;
          }
        }
        &._4 {
          .title {
            max-width: 310px;
          }
        }
      }
    }
  }
}
