<div class="buildingDebookInPublic-container">
    <div class="buildingDebookInPublic-text">
        <img class="buildingDebookInPublic-text-iconVideo" src="assets/images/Video1.svg" alt="">
        <div class="buildingDebookInPublic-text-title">Building DEBOOK in Public</div>
        <div class="buildingDebookInPublic-text-titlehide">Building <br> DEBOOK <br> in Public</div>
        <div class="buildingDebookInPublic-text-subtitle">{{"sections.buildin-in-public.subtitle.top" | translate}}
            <br> {{"sections.buildin-in-public.subtitle.bottom" | translate}}
        </div>
        <div class="buildingDebookInPublic-text-subtitlehide">{{"sections.buildin-in-public.subtitle-mobile.top" |
            translate}}
            <br> {{"sections.buildin-in-public.subtitle-mobile.mid" | translate}} <br>
            {{"sections.buildin-in-public.subtitle-mobile.bottom" | translate}}
        </div>

    </div>
    <div class="buildingDebookInPublic-videos">
        <div class="carrousel-videos">
            <img src="assets/images/videosLinkeInImage.png" alt="">
        </div>
    </div>
</div>