@import "../../../styles.scss";

.founder-message-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  gap: 32px;
  // gap: 150px;
  .founder-message-title {
    font-size: 64px;
    font-family: $font-sora;
    font-weight: 600;
    letter-spacing: -0.05em;
    text-align: end;
    width: 520px;
    line-height: 115%;
    // margin-left: 90px;
    line-height: 80px;
  }

  .founder-message-text {
    width: 500px;
    flex-grow: 1;
    p {
      margin-bottom: 16px;
      font-size: 18px;
    }
    p:first-child {
      display: block;
    }
    &-p {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 15px;
      font-weight: 300;
      font-family: $font-inter;
      line-height: 22px;
      span {
        display: inline-flex;
        font-weight: bold;
      }
    }

    .hide {
      display: none;
    }
    .show {
      display: block;
    }

    .readMore {
      background: $black;
      color: white;
      padding: 10px 20px;
      border-radius: 25px;
      border: none;
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
      font-family: $font-inter;
      font-weight: bold;
    }
  }
}

// mobile------------------------------------------------------------
@media screen and (max-width: 992px) {
  .founder-message-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 236, 236);
    background: radial-gradient(
      circle,
      rgba(255, 236, 236, 1) 11%,
      rgba(255, 246, 246, 1) 100%
    );

    .founder-message-title {
      font-size: 2.4em;
      font-weight: 700;
      text-align: center;
      width: 325px;
      line-height: 115%;
      margin: 0px;
      margin-top: 60px;
      margin-bottom: 40px;
    }

    .founder-message-text {
      padding: 0px;
      width: 90%;
      padding-bottom: 50px;
      p:first-child {
        display: block;
      }
      &-p {
        font-family: $font-inter;
        font-size: 1em;
        line-height: $lineH-P-Mobile;
        font-weight: 300;
        margin-top: 14px;
      }
    }
  }
}
