<div class="founder-message-container">
    <div class="founder-message-title gradientText1">The community any enterpreneur and book lover would dream of!</div>
    <div class="founder-message-text">
        <p class="founder-message-text-p">Founder Message: Honestly, this is the deepest reason I'm
            launching these
            MAGICKEYS
            with unique value for a very limited group of people. Building a startup is not easy. It's an up-and-down
            journey with thousands of challenges and hours of feeling lost and alone. I know it's not sexy to say, but
            it's
            the reality. Of course, it's also an adventure with plenty of lessons, celebrations, and new incredible
            relationships.</p>
        <p class="founder-message-text-p"> Who is ready to go through all of that? Since the vision was born in June
            2021, here I am.
            And for how long? Until WE make it happen.
        </p>
        <p class="founder-message-text-p">
            I dream of waking up every morning and feeling the support of a passionate, optimistic, and kind community.
            3,333 people or less will have the opportunity to live this one-way trip from the inside.
        </p>
        <p class="founder-message-text-p">

            If you feel called, join the DEBOOK MAGICKEY community, made up of dreamers who support, motivate, and
            challenge
            each other to achieve their wildest dreams. Let's become part of the book history together!</p>


    </div>
</div>