@import '../../../styles.scss';

.funds-go-to-dev-container{
    display: flex;
    flex-direction: row;
    align-items: center;

    .funds-go-to-dev-img{
        
        img{
            height: 607px;
            width: auto;
            margin: 125px 0 110px 110px;
        }
    }
    .funds-go-to-dev-content{
        width: 775px;
        &-title{
            font-size: 40px;
            font-family: $font-sora;
            letter-spacing: -0.05em;
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
        }
        &-buttons{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            p-button{
                margin: 15px;
            }
            margin: 5px;
        }
    }
}

// mobile------------------------------------------------------------
@media  screen and (max-width: 450px){
    
    .funds-go-to-dev-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    
        .funds-go-to-dev-img{
            
            img{
                height: auto;
                width: 290px;
                margin: 0;
            }
        }
        .funds-go-to-dev-content{
            width: 320px;
            &-title{
                font-size: 24px;
                text-align: center;
                margin-bottom: 10px;
                font-weight: 700;
                padding: 60px 25px;
            }
            &-buttons{
                margin: 0px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                p-button{
                    margin: 5px;
                }

                .go-to-Pitchdeck{
                    display: none;
                }
                margin: 5px;
            }
        }
    }
    
}


