@import "../../../styles.scss";

.funds-go-to-dev-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 125px;

  .funds-go-to-dev-img {
    iframe {
      width: 911px;
      height: 496px;
      border-radius: 15px;
    }
    .button-mobile {
      display: none;
    }
  }
  .funds-go-to-dev-content {
    width: 100%;
    &-title {
      font-size: 48px;
      font-family: $font-sora;
      letter-spacing: -0.05em;
      font-weight: 600;
      text-align: center;
      margin-bottom: 50px;
      line-height: 1.3em;
    }
    &-buttons {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      p-button {
        margin: 15px;
      }
      margin: 5px;
    }
  }
}
.funds-go-to-dev-bottom {
  border-radius: 24px;
  border: 1px solid rgba(133, 69, 69, 0);
  background: #f9f9f9;
  margin: 50px 0 150px 0;
  padding: 52px;
  &-title {
    text-align: center;
    font-family: $font-sora;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 15px;
    letter-spacing: -1.35px;
    background: linear-gradient(
      90deg,
      #000 43.75%,
      rgba(191, 191, 191, 0.92) 86.86%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-titleMobile {
    display: none;
  }
  &-subtitle {
    color: #000;
    text-align: center;
    font-family: $font-inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.42px;
  }
  &-subtitleMobile {
    display: none;
  }
}
// mobile------------------------------------------------------------
@media screen and (max-width: 992px) {
  .funds-go-to-dev-container {
    align-items: center;
    margin-top: 50px;

    .funds-go-to-dev-img {
      display: flex;
      flex-direction: column;
      width: 100%;

      iframe {
        width: 100%;
        height: 183px;
        border-radius: 15px;
      }
      .button-mobile {
        display: flex;
        justify-content: center;
        margin-top: 50px;
      }
    }
    .funds-go-to-dev-content {
      width: 100%;
      &-title {
        // width: 335px;
        margin: auto;
        font-size: 1.8em;
        text-align: center;
        font-weight: 700;
        padding: 0;
        margin-bottom: 50px;
        margin-top: 65px;
      }
      &-buttons {
        margin: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        p-button {
          margin: 5px;
        }
        margin: 5px;
      }

      .hide-buttons {
        display: none;
      }
    }
  }

  .funds-go-to-dev-bottom {
    border: none;
    background: transparent;
    margin: 50px 0 150px 0;
    padding: 0;
    margin: 50px 0;
    &-titleMobile {
      display: flex;
      justify-content: center;
      font-size: 3.5em;
      font-weight: 700;
      line-height: 55px;
      width: 100%;
      margin: auto;
      margin-bottom: 35px;
      text-align: center;
      letter-spacing: -1.35px;
      background: linear-gradient(
        90deg,
        #000 43.75%,
        rgba(191, 191, 191, 0.92) 86.86%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &-title {
      display: none;
    }
    &-subtitle {
      display: none;
    }
    &-subtitleMobile {
      display: flex;
      color: #000;
      text-align: center;
      font-family: $font-inter;
      font-size: 1.1em;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -0.42px;
    }
  }
}
