@import "../../../styles.scss";

.funds-go-to-dev-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 125px;

  .funds-go-to-dev-img {
    img {
      height: auto;
      width: 100%;
      border-radius: 15px;
    }
    .button-mobile {
      display: none;
    }
  }
  .funds-go-to-dev-content {
    width: 775px;
    &-title {
      font-size: 34px;
      font-family: $font-sora;
      letter-spacing: -0.05em;
      font-weight: 600;
      text-align: center;
      margin-bottom: 20px;
    }
    &-buttons {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      p-button {
        margin: 15px;
      }
      margin: 5px;
    }
  }
}
.funds-go-to-dev-bottom{
  margin: 150px 0 ;
  &-title{
    text-align: center;
    font-family: $font-sora;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px; 
    margin-bottom: 5px;
    letter-spacing: -1.35px;
    background: linear-gradient(90deg, #000 43.75%, rgba(191, 191, 191, 0.92) 86.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-subtitle{
    color: #000;
    text-align: center;
    font-family: $font-inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px; 
    letter-spacing: -0.42px;
  }
}
// mobile------------------------------------------------------------
@media screen and (max-width: 992px) {
  .funds-go-to-dev-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 50px;

    .funds-go-to-dev-img {
      display: flex;
      flex-direction: column;
      width: 100%;

      img {
        height: auto;
        width: 90%;
        margin: 0 auto;
      }
      .button-mobile {
        display: flex;
        justify-content: center;
        margin-top: 50px;
      }
    }
    .funds-go-to-dev-content {
      width: 100%;
      &-title {
        // width: 335px;
        margin: auto;
        font-size: 1.8em;
        text-align: center;
        font-weight: 700;
        padding: 0;
        margin-bottom: 50px;
        margin-top: 65px;
      }
      &-buttons {
        margin: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        p-button {
          margin: 5px;
        }
        margin: 5px;
      }

      .hide-buttons {
        display: none;
      }
    }
  }

  .funds-go-to-dev-bottom{
    margin: 50px 0 ;
    &-title{
      font-size: 2em;
      font-weight: 700;
      line-height: 36px; 
      width: 80%; 
      margin: auto;
      margin-bottom: 5px;
    
      letter-spacing: -1.35px;
      background: linear-gradient(90deg, #000 43.75%, rgba(191, 191, 191, 0.92) 86.86%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &-subtitle{
      color: #000;
      text-align: center;
      font-family: $font-inter;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px; 
      letter-spacing: -0.42px;
    }
  }
}
