<div class="funds-go-to-dev-container">
    <div class="funds-go-to-dev-img">
        <img src="assets/images/mobiles.png" alt="">
        <p-button class="button-black-long button-mobile" label="Interact with DEBOOK app demo!"></p-button>
    </div>
    <div class="funds-go-to-dev-content">
        <div class="funds-go-to-dev-content-title gradientText2">100% OF THE FUNDS GO TO SUCCESSFULLY DEVELOP PHASE 1/6
        </div>
        <div class="funds-go-to-dev-content-buttons hide-buttons">
            <p-button class="button-black-long" label="Interact with DEBOOK app demo!"></p-button>
            <p-button class="button-black-long" label="Go to Pitchdeck"></p-button>
        </div>
    </div>

</div>