<div class="container">
  <div class="funds-go-to-dev-container">
    <div class="funds-go-to-dev-img">
      <img src="assets/images/videosLinkeInImage.jpg" alt="" />
      <!-- <div class="button-mobile">
        <app-pop-up-email-request [isDemo]="true"></app-pop-up-email-request>
      </div> -->
    </div>
    <div class="funds-go-to-dev-content">
      <div class="funds-go-to-dev-content-title gradientText2">
        {{ "sections.funds-go-to-dev.title" | translate }}
      </div>
      <!-- <div class="funds-go-to-dev-content-buttons hide-buttons">
        <app-pop-up-email-request [isDemo]="true"></app-pop-up-email-request>
      </div> -->
    </div>
  </div>
  <div class="funds-go-to-dev-bottom">
    <div class="funds-go-to-dev-bottom-title">
      DEBOOK IS NOT ACCEPTING INVESTMENTS
    </div>
    <div class="funds-go-to-dev-bottom-subtitle">
      Community first, investors later. Get your MAGICKEY if you would be a +20k investor, they unlock surprise doors.
      And fill the form on the pitch deck!
    </div>
  </div>
</div>