<div class="what-is-container">
    <div class="title-container">
        <div class="what-is-title gradientText1">What is DEBOOK</div>
        <div class="what-is-subTitle">First things first</div>
    </div>
    <div class="what-is-content">
        <div class="what-is-content-group-left">
            <div class="what-is-content-numberAndtitle">
                <div class="what-is-content-numberAndtitle-number gradientText2">1</div>
                <div class="what-is-content-numberAndtitle-text gradientText2">From books
                    to ebooks
                    to debooks</div>
            </div>
            <div class="what-is-content-numberAndtitleSubtitle">“debook” is the new book format</div>
            <div class="what-is-content-numberAndtitleDescription">“<span>debook</span>” empower authors to earn more by
                turning
                their
                book into a community, unfolding a new and enhanced reading experience for everyone!</div>
        </div>

        <div class="what-is-logo-container">
            <div class="what-is-logo">
                <app-logo></app-logo>
            </div>

        </div>

        <div class="what-is-content-group-right">
            <div class="what-is-content-numberAndtitle">
                <div class="what-is-content-numberAndtitle-number gradientText2">2</div>
                <div class="what-is-content-numberAndtitle-text gradientText2">Where books
                    come to life</div>
            </div>
            <div class="what-is-content-numberAndtitleSubtitle">“DEBOOK” is the platform for debooks</div>
            <div class="what-is-content-numberAndtitleDescription"><span>DEBOOK.APP</span> is the place to publish
                debooks, to read,
                the markeplace to buy and sell, to connect readers with readers and authors, and place to showcase your
                library to the world!</div>
        </div>
    </div>
</div>