<swiper-container class="noMobile" pagination="true" pagination-clickable="true" slides-per-view="4" space-between="20"
    style="--swiper-pagination-color: #FF4444;">
    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.is-for-you-if.carrousel.slide1.title" | translate }}
                @if(isEn){<br>}
                <span>{{"sections.is-for-you-if.carrousel.slide1.title-span" | translate
                    }}</span>{{"sections.is-for-you-if.carrousel.slide1.title-bottom" | translate }}
            </div>
            <div class="text">
                {{"sections.is-for-you-if.carrousel.slide1.content" | translate }}
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.is-for-you-if.carrousel.slide2.title" | translate }}
                @if(isEn){<br>}
                <span>{{"sections.is-for-you-if.carrousel.slide2.title-span" | translate
                    }}</span>{{"sections.is-for-you-if.carrousel.slide2.title-bottom" | translate }}
            </div>
            <div class="text">
                {{"sections.is-for-you-if.carrousel.slide2.content" | translate }}
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.is-for-you-if.carrousel.slide3.title" | translate }}
                @if(isEn){<br>}
                <span>{{"sections.is-for-you-if.carrousel.slide3.title-span" | translate
                    }}</span>{{"sections.is-for-you-if.carrousel.slide3.title-bottom" | translate }}
            </div>
            <div class="text">
                {{"sections.is-for-you-if.carrousel.slide3.content" | translate }}
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.is-for-you-if.carrousel.slide4.title" | translate }}
                @if(isEn){<br>}
                <span>{{"sections.is-for-you-if.carrousel.slide4.title-span" | translate
                    }}</span>{{ "sections.is-for-you-if.carrousel.slide4.title-bottom" | translate }}
            </div>
            <div class="text">
                {{"sections.is-for-you-if.carrousel.slide4.content" | translate }}
            </div>
        </div>
    </swiper-slide>
</swiper-container>

<swiper-container class="mobile" pagination="true" pagination-clickable="true" slides-per-view="1" space-between="20"
    style="--swiper-pagination-color: #FF4444;">
    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.is-for-you-if.carrousel.slide1.title" | translate }}
                @if(isEn){<br>}
                <span>{{"sections.is-for-you-if.carrousel.slide1.title-span" | translate

                    }}</span>{{"sections.is-for-you-if.carrousel.slide1.title-bottom" | translate }}
            </div>
            <div class="text">
                {{"sections.is-for-you-if.carrousel.slide1.content" | translate }}
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.is-for-you-if.carrousel.slide2.title" | translate }}
                @if(isEn){<br>}
                <span>{{"sections.is-for-you-if.carrousel.slide2.title-span" | translate
                    }}</span>{{"sections.is-for-you-if.carrousel.slide2.title-bottom" | translate }}
            </div>
            <div class="text">
                {{"sections.is-for-you-if.carrousel.slide2.content" | translate }}
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.is-for-you-if.carrousel.slide3.title" | translate }}
                @if(isEn){<br>}
                <span>{{"sections.is-for-you-if.carrousel.slide3.title-span" | translate
                    }}</span>{{"sections.is-for-you-if.carrousel.slide3.title-bottom" | translate }}
            </div>
            <div class="text">
                {{"sections.is-for-you-if.carrousel.slide3.content" | translate }}
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="card">
            <div class="title">
                {{"sections.is-for-you-if.carrousel.slide4.title" | translate }}
                @if(isEn){<br>}
                <span>{{"sections.is-for-you-if.carrousel.slide4.title-span" | translate
                    }}</span>{{"sections.is-for-you-if.carrousel.slide4.title-bottom" | translate }}
            </div>
            <div class="text">
                {{"sections.is-for-you-if.carrousel.slide4.content" | translate }}
            </div>
        </div>
    </swiper-slide>

</swiper-container>