@import "../../../styles.scss";

.challenges-map-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // height: auto;
  // margin: auto;
  // width: 1011px;
  height: auto;
  margin: 150px auto auto;
  gap: 48px;
  .challenges-map-content {
    display: flex;
    flex-direction: column;

    &-title {
      font-family: $font-sora;
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -1.7px;
    }
    &-subtitle {
      color: #000;
      font-family: $font-inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.48px;
      margin: 25px 0;
    }
    &-subtitleMobile {
      display: none;
    }
  }
  .challenges-map-image {
    // width: 50%;
    // height: auto;
    // margin-right: -40px;
    img {
      width: 491px;
      height: auto;
    }
    &-button {
      display: none;
    }
  }
}

// mobile------------------------------------------------------------
@media screen and (max-width: 992px) {
  .challenges-map-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    gap: 24px;
    .challenges-map-content {
      width: 97%;
      margin: auto;

      &-title {
        font-family: $font-sora;
        font-size: 2em;
        margin-bottom: 0;
      }
      &-subtitle {
        display: none;
      }
      &-subtitleMobile {
        display: block;
        font-size: 1em;
        text-align: start;
        font-family: $font-inter;
        line-height: 22px;
        margin-bottom: 24px;
      }
      &-button {
        display: none;
      }
    }
    .challenges-map-image {
      width: 100%;
      height: auto;
      margin-right: 0px;
      img {
        width: 100%;
        height: auto;
        margin-top: 0px;
      }

      &-button {
        display: block;
        margin: auto;
        width: 100%;
        text-align: center;
      }
    }
  }
}
