@import '../../../styles.scss';

.logo-background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $red;
    border-radius: 50%;
    padding: 5%;
    span{
        margin: 3%;
        width: 9.28%;
        height: 63.98%;
        background-color: #fff;
        border-radius: 10em;
    }
    span:first-child {
        transform: rotate(17deg) skew(0deg, 0);
        margin-right: 10%;
        width: 10.08%; 
        height: 67.26% 
    }

    span:last-child {
        width: 7.50%;
        height:  63.98%; 
    }
}
