<swiper-container pagination="true" pagination-clickable="true" style="--swiper-pagination-color: #FF4444;">
    <swiper-slide>
        <div class="cards">
            <div class="image">
                <img src="assets/images/lightning.svg" alt="">
            </div>
            <div class="title gradientText2">{{"sections.panels.1.title" | translate }}</div>
            <div class="description">{{"sections.panels.1.text.regular" | translate }}
                <span>{{"sections.panels.1.text.bold"
                    | translate }}</span> {{"sections.panels.1.text.regular2" | translate }}
                <span>{{"sections.panels.1.text.bold2" | translate }}</span>
                {{"sections.panels.1.text.regular3" | translate }}
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="cards">
            <div class="image">
                <img src="assets/images/timer.svg" alt="">
            </div>
            <div class="title gradientText2">{{"sections.panels.2.title" | translate }}</div>
            <div class="description">{{"sections.panels.2.text.regular" | translate }}
                <span>{{"sections.panels.2.text.bold"
                    | translate }}</span> {{"sections.panels.2.text.regular2" | translate }}
                <span>{{"sections.panels.2.text.bold2" | translate }}</span> {{"sections.panels.2.text.regular3" |
                translate
                }}
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="cards">
            <div class="image">
                <img src="assets/images/users.svg" alt="">
            </div>
            <div class="title gradientText2">{{"sections.panels.3.title" | translate }}</div>
            <div class="description">{{"sections.panels.3.text.regular" | translate }}
                <span>{{"sections.panels.3.text.bold"
                    | translate }}</span> {{"sections.panels.3.text.regular2" | translate }}
                <span>{{"sections.panels.3.text.bold2" | translate }}</span>
            </div>
        </div>
    </swiper-slide>
</swiper-container>