/* You can add global styles to this file, and also import other style files */

// fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Sora:wght@400;600;700;800&display=swap');
$font-sora: 'Sora', sans-serif;
$font-inter: 'Inter', sans-serif;
$lineH-P-Mobile: 22px;

// icons
@import "primeicons/primeicons.css";

// colors
$red: #FF4444;
$black: #050401;
$gray: #6F6F6F;
$custom-background: rgb(75,40,40);;
$custom-gradient: linear-gradient(90deg, rgba(75,40,40,1) 0%, rgba(224,105,108,1) 100%);

//------------------------------------------------------------------------------------------
//general
*{
    margin-top: 0;
    box-sizing: border-box;
}

.gradientText1 {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #FC464A, #000000);
}

.gradientText2 {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #4B2828, #E0696C);
}

.gradientText3 {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #909090, #E0696C);
}

.button-black{
    .p-button{
        color: #ffffff;
        background: $black;
        border: none;
        padding: 0.75rem 1.25rem;
        font-size: 0.9rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 25px;
    }
}

.button-black-long{
    .p-button{
        color: #ffffff;
        background: $black;
        border: none;
        padding: 0.75rem 1.25rem;
        font-size: 0.9rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 25px;
        width: 310px;
        display: block;
    }
}



// ng-prime
// These are default styles provided by PrimeNG components that don't fit my needs in this project
.p-button {
    color: #ffffff;
    background: #FF4444;
    border: none;
    padding: 0.75rem 1.25rem;
    font-family: $font-inter;
    font-size: 0.9rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 25px;
}

:host ::ng-deep .p-button .p-button-label {
    font-weight: 300; 
}

.p-card{
    border-radius: 14px;
    box-shadow: none;
}
.p-card .p-card-content {
    padding:  0;
}
.p-card .p-card-body {
    padding: 0 1.25rem;
}
.p-dropdown {
    border: transparent;
}
.p-focus{
    outline: 0 none;
    outline-offset: 0px;
    box-shadow: none  
}

.p-dropdown .p-dropdown-clear-icon {
    display: none;
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 0rem;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    border: 1px solid #FFE2E2;
    color: #6b7280;
    background: white;
    border-radius: 12px;
    font-family: $font-inter;
}

.p-accordion .p-accordion-content {
    padding: 1.25rem;
    border: 1px solid #FFE2E2;
    background: white;
    color: #4b5563;
    font-family: $font-inter;

}
.p-accordion p-accordiontab .p-accordion-tab {
    margin-bottom: 10px;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link{
    color: $red;
}





// mobile------------------------------------------------------------
@media  screen and (max-width: 450px){
    *{
        margin: 0;
        box-sizing: border-box;
    }
    
    .p-inputtext {
        padding: 0.3rem 0.3rem;
    }
    .p-dropdown .p-dropdown-trigger {
        width: 1.5rem;
    }

    .p-button {
        color: #ffffff;
        background: #FF4444;
        border: none;
        padding: 1.1rem 1.25rem;
        font-family: $font-inter;
        font-weight: bold;
        font-size: 0.9rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 35px;
    }

    .p-button-fit {
        .p-button{
            color: #ffffff;
            background: #FF4444;
            border: none;
            padding: 0.6rem 1.25rem;
            font-family: $font-inter;
            font-weight: bold;
            font-size: 0.8rem;
            transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
            border-radius: 35px;
        }

    }

    .button-black{
        .p-button{
            padding: 1.1rem 1.25rem;
            border-radius: 35px;
        }
    }
    
    .button-black-long{
        .p-button{
            width: 90%;
            padding: 1.1rem 1.25rem;
            border-radius: 35px;
        }
    }

    .p-accordion, .p-accordion .p-accordion-content {
        font-size: 0.9em;
        font-family: "Inter", sans-serif;
        line-height: $lineH-P-Mobile;
    }


}