<div class="team-container">
    <div class="team-title">TEAM BUILDING THE DREAM</div>
    <div class="team-subtitle"> See full team on <span>the pitchdeck</span></div>
    <div class="team-founders">
        <div class="team-founders-founder">
            <div class="team-founders-founder-titleAndImageGroup">
                <div class="team-founders-founder-titleAndImageGroup-title gradientText2">MIND BEHIND THE TECH</div>
                <div class="team-founders-founder-titleAndImageGroup-img">
                    <img src="assets/images/founder1.jpg" alt="">
                </div>
            </div>

            <div class="team-founders-founder-name">Jesse Mazur</div>
            <div class="team-founders-founder-position">Co-Founder & CTO</div>
            <div class="team-founders-founder-experience">Ex Amazon Ex Dotdash Ex Meta</div>
            <div class="team-founders-founder-social">
                <i class="pi pi-linkedin" style="font-size: 1rem"></i>
            </div>
        </div>

        <div class="team-founders-founder">
            <div class="team-founders-founder-titleAndImageGroup">
                <div class="team-founders-founder-titleAndImageGroup-title gradientText2">MIND BEHIND THE VISON</div>
                <div class="team-founders-founder-titleAndImageGroup-img">
                    <img src="assets/images/founder2.jpg" alt="">
                </div>
            </div>

            <div class="team-founders-founder-name">Ernest Viñas</div>
            <div class="team-founders-founder-position">Founder & CEO</div>
            <div class="team-founders-founder-experience">Entrepreneur since 2014: TFB, SYL & LC</div>
            <div class="team-founders-founder-social">
                <i class="pi pi-instagram" style="font-size: 1rem"></i>
                <i class="pi pi-linkedin" style="font-size: 1rem"></i>
            </div>
        </div>
    </div>
    <div class="team-message">
        <div class="team-message-text">Ernest is sharing on Linkedin a weekly docu-series in real time of the journey of
            <span>Building DEBOOK in Public </span>
        </div>
    </div>
    <p-button class="p-button-long" label="BUY MAGICKEYS"></p-button>
</div>