<div class="team-container">
  <div class="team-title">{{ "sections.team.title" | translate }}</div>
  <div class="team-subtitle">
    {{ "sections.team.subtitle.bold" | translate }}
    <span>{{ "sections.team.subtitle.regular" | translate }}</span>
  </div>
  <div class="team-founders">
    <div class="team-founders-founder">
      <div class="team-founders-founder-titleAndImageGroup">
        <div
          class="team-founders-founder-titleAndImageGroup-title gradientText2"
        >
          {{ "sections.team.founders.1.title" | translate }}
        </div>
        <div class="team-founders-founder-titleAndImageGroup-img">
          <img src="assets/images/Jesse.png" alt="" />
        </div>
      </div>

      <div class="team-founders-founder-name">Jesse Mazur</div>
      <div class="team-founders-founder-position">Co-Founder & CTO</div>
      <div class="team-founders-founder-experience">
        Ex Amazon Ex Dotdash Ex Meta
      </div>
      <div class="team-founders-founder-social">
        <a href="https://www.linkedin.com/in/mazureth/" target="_blank">
          <i class="pi pi-linkedin" style="font-size: 1rem"></i>
        </a>
      </div>
    </div>

    <div class="team-founders-founder">
      <div class="team-founders-founder-titleAndImageGroup">
        <div
          class="team-founders-founder-titleAndImageGroup-title gradientText2"
        >
          {{ "sections.team.founders.2.title" | translate }}
        </div>
        <div class="team-founders-founder-titleAndImageGroup-img">
          <img src="assets/images/Ernest.png" alt="" />
        </div>
      </div>

      <div class="team-founders-founder-name">Ernest Viñas</div>
      <div class="team-founders-founder-position">Founder & CEO</div>
      <div class="team-founders-founder-experience">
        {{ "sections.team.founders.2.experience" | translate }}
      </div>
      <div class="team-founders-founder-social">
        <a href="https://www.instagram.com/ernestdift" target="_blank">
          <i class="pi pi-instagram" style="font-size: 1rem"></i>
        </a>
        <a href="https://www.linkedin.com/in/ernestvinas/" target="_blank">
          <i class="pi pi-linkedin" style="font-size: 1rem"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="team-message">
        <div class="team-message-text">{{"sections.team.message.regular" | translate }}
            <span>{{"sections.team.message.bold" | translate }} </span>
        </div>
    </div>
    <p-button class="p-button-long" (click)="navigateToLink()">
        <ng-template pTemplate="label">
            {{ 'sections.hero.buyButton' | translate }}
        </ng-template>
    </p-button> -->
</div>
